:root{
    --background-clr: rgb(255, 255, 255);
    --border-color: navy;
    --shawdow-clr: teal;
    --button-bg-clr: rgba(253, 168, 11, 0.671);
}

*{
    box-sizing: border-box;
    margin:5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-clr);
}

a:hover{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    margin: 0;
}

.hide{
    display: none;
}


.focused-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: dashed 5px var(--border-color);
    border-radius: 5px;
}

.title-block{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.btn{
    background:var(--button-bg-clr);
    color: black;
    font-weight: 500;
    width: 50%;
    border: 2px solid var(--background-clr);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    /* display: flex;
    justify-content: center; */
}

.btn:hover{
    background: navy;
    color: white;
    transition: .5s;
}

#next-btn{
    background: var(--button-bg-clr);
    color: black;
    font-weight: 500;
    width: 100px;
    border: 0;
    border-radius: 10px;
    padding: 7px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn:hover{
    background: navy;
    color: white;
    transition: .5s;
}

#startBtn{
    border: 2px;
    text-align: center;
    border-radius: 50px;
}

#question-block{
    text-align: center;
}

.correct{
    background: lightseagreen;
    color: white;
}

.incorrect{
    background: coral;
    color: white;
}